{% extends 'main/layout.html' %}

{% block content %}
<main class="p-4">
    <h1 class="text-3xl">Conversations</h1>

    <div class="max-w-[500px]">
        {% for conversation in conversation_list %}
        <div class="border border-grey-800 my-4 p-4">
            <div class="text-2xl mb-2">
                <a href="/conversation/{{ conversation.id }}/">
                    {{ conversation.title }}
                </a>
            </div>
        </div>
        {% empty %}
        <div>
            <em>(empty)</em>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
