{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{% static 'tailwind-3.3.5.min.js' %}"></script>
    </head>
    <body>
        {% if messages %}
        <aside class="p-4 text-red-500">
            {% for message in messages %}
            <div {% if message.tags %}class="alert-{{ message.tags }}"{% endif %}>{{ message|safe }}</div>
            {% endfor %}
        </aside>
        {% endif %}

        {% block content %}
        {% endblock %}
    </body>
</html>
